* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 70px 50px 50px;
    text-align: center;
}

.logo {
    width: 80px;
}

h1 {
    color: rgb(197, 196, 196);
    font-weight: 300;
    font-size: 50px;
    margin: 40px 0 10px;
}
h1 span {
    color: #111;
    font-weight: 900;
}

p:first-of-type {
    padding: 0;
    color: rgb(36, 36, 36);
}

.subscribe-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 40px 20px ;
}
.input-box {
    width: 400px;
    margin: 0 10px;
}
.input-box input {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 30px;
    font-size: 18px;
}
.input-box p {
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    color: red;
    display: none;
}
.subscribe-box button {
    padding: 10px 40px;
    border: 0;
    border-radius: 30px;
    margin: 0 10px;
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: all .5s ease;
}
.subscribe-box button:hover {
    background-color: hsl(223, 81%, 70%);
}

.img2 {
    margin: 30px;
    width: 50%;
}

.media {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 20px 10px;
}

.media i {
    padding: 7px 8px;
    font-size: 25px;
    color: hsl(223, 87%, 63%);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 15px;
    transition: all .5s ease;
}
.media i:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(223, 87%, 63%);
}

.copyright {
    padding: 0 20px;
    font-size: 14px;
    color: rgb(146, 146, 146);
}

@media screen and (max-width: 1000px) {
    .input-box {
        width: 300px;
    }
    .img2 {
        width: 70%;
    }
}
@media screen and (max-width: 700px) {
    .input-box {
        width: 280px;
    }
    main {
        padding: 50px 30px;
    }
    .img2 {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .input-box {
         width: 100%;
    }
    .subscribe-box {
        flex-direction: column;
        align-items: center;
    }
    .subscribe-box button {
        width: 100%;
        margin-top: 15px;
    }
    main {
        padding: 50px 20px;
    }
    .img2 {
        width: 90%;
    }
    h1 {
        font-size: 40px;
    }
}